apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-vip
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-vip-leader-election
rules:
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kube-vip-leader-election
subjects:
  - kind: ServiceAccount
    name: kube-vip
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: kube-vip-leader-election
  apiGroup: rbac.authorization.k8s.io

