apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  labels:
    app: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:latest
          securityContext:
            privileged: true   # REQUIRED for FUSE

          env:
            - name: ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: jellyfin-s3
                  key: accessKeyId
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: jellyfin-s3
                  key: secretAccessKey
            - name: NODE_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
            - name: JELLYFIN_CONFIG_DIR
              value: /storage/config
            - name: JELLYFIN_CACHE_DIR
              value: /storage/cache
            - name: JELLYFIN_DATA_DIR
              value: /storage/data


          command:
            - sh
            - -c
            - |
              set -e

              echo "Installing s3fs..."
              apt-get update
              DEBIAN_FRONTEND=noninteractive apt-get install -y s3fs fuse

              echo "Configuring credentials..."
              echo "$ACCESS_KEY:$SECRET_KEY" > /tmp/passwd-s3fs
              chmod 600 /tmp/passwd-s3fs

              mkdir -p /storage

              echo "Mounting S3 bucket..."
              s3fs jellyfin-video /storage \
                -o url=http://$NODE_IP:9000 \
                -o use_path_request_style \
                -o passwd_file=/tmp/passwd-s3fs \
                -o allow_other \
                -o uid=1000 \
                -o gid=1000 \
                -o mp_umask=002

              echo "Starting Jellyfin..."
              exec /jellyfin/jellyfin

          volumeMounts:
            - name: jellyfin-storage
              mountPath: /storage

          ports:
            - containerPort: 8096


          resources:
            requests:
              cpu: "100m"
              memory: "500m"
            limits:
              cpu: "3000m"
              memory: "8Gi"

      volumes:
        - name: jellyfin-storage
          emptyDir: {}

--- 
apiVersion: v1 
kind: Service 
metadata: 
  name: jellyfin 
spec: 
  selector: 
    app: jellyfin 
  ports: 
    - port: 80
      targetPort: 8096 
  type: ClusterIP 
--- 
apiVersion: networking.k8s.io/v1 
kind: Ingress 
metadata: 
  name: jellyfin 
  namespace: default 
  annotations: 
    kubernetes.io/ingress.class: traefik 
spec: 
  rules: 
  - host: jellyfin.colins.io
    http: 
      paths: 
        - path: / 
          pathType: Prefix 
          backend: 
            service: 
              name: jellyfin 
              port: 
                number: 80
  tls: 
    - hosts: 
      - jellyfin.colins.io 
      secretName: wildcard-colins-io-tls


